/*
=========================================
-----------------------------------------
  1. Reset
  2. Variables
  3. App
  4. H1
  5. Logo
  6. Button
  7. Message
------------------------------------------
==========================================
*/



/*===============RESET===============*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===============VARIABLES===============*/
:root {
    /*------Colors------*/
    --white: white;
    --black: black;
    --primary-color: #9fe855;
    --secondary-color: #209b87;
    --valid-color: #3cff00;
    --error-color: #fa0000;

    /*------Fonts size------*/
    --font-size-button: 21px;
    --font-size-h1: 40px;
    --font-size-message: 12px;

    /*------Background------*/
    --background-color: #f5f5f5;

    /*------Text------*/
    --text-color: #004466;

    /*------Border------*/
    --border-width1: 1px;
    --border-solid: solid;

    /*------Hover------*/
    --hover-border-color: var(--primary-color);

    /*------Gradient------*/

    /*------Shadows------*/

    /*------Fonts------*/
    --text: 'arial';
    --text-serif: 'sans-serif';
    --text-weight-regular: 400;
    --text-weight-bold: bold;
}

/*===============APP===============*/
main {
  padding: 16px 12px;
  background-color: var(--background-color);
}
div.scrapmate-app {
  font-family: var(--text) var(--text-serif);
  font-size: var(--font-size-body);
  font-weight: var(--text-weight-regular);
  background-color: var(--background-color);
}
div.scrapmate-app-content {
  width: 200px;
  height: fit-content;
}
div.scrapmate-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/*===============H1===============*/
.h1-container {
  position: relative;
  display: inline-block;
}
h1.scrapmate-title {
  /* margin: 15px 0; */
}

/*===============LOGO===============*/
img.scrapmate-logo {
  width: 125px;
  height: auto;
  /* animation: zoomIn 0.8s ease-out; */
}

/*===============BUTTON===============*/
.scrapping-btn-container {
  display: block;
  margin: auto;
  padding: 8px;
  text-align: center;
}
.button#scrapping-btn {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-button);
  font-weight: bold;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 10px;
  transition: all .5s;
  background-clip: text;
  background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button#scrapping-btn:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
  cursor: pointer;
}
.button#scrapping-btn:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button#scrapping-btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  transition: all .5s;
  background: rgba(73,155,234,1);
  z-index: -1;
}
.button#scrapping-btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 5px;
  transition: all .5s;
  z-index: -1;
}

/*===============MESSAGE===============*/
